<!DOCTYPE html>
<!-- docs.ejs -->
<html class="no-js" lang="">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-145358157-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "UA-145358157-1")
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      django-thing Models
    </title>
    <meta
      name="description"
      content="Notes and resources for the eliothing project."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dist/css/sloth.min.css" />
  </head>

  <body>
    <nav>
      <a href="index.html">
        <img src="apple-touch-icon.png" />
        <b>django-thing</b>
      </a>

      <a href="#system-fields"> System fields</a>

      <hr />

      <a href="/eliothing">
        <img src="/eliothing/apple-touch-icon.png" />
        <b>eliothing</b>
      </a>

      <nav></nav>
    </nav>

    <h1 id="django-thing-models">django-thing Models</h1>
    <p>
      All Django&#39;s models are built dynamically by
      <strong>django-thing</strong>. You&#39;ll need a
      <code>models.py</code> file with the following code.
    </p>
    <pre><code>from django.conf import settings
from thing.thing import ThingOfDjangoModel
from thing.models import every_model


every_model(
    ThingOfDjangoModel(
        settings.SCHEMA_PATH, settings.SITE_THING, settings.THING_DEPTH
    ).build()
)
</code></pre>
    <p>
      That&#39;s all you need. Now you can run <code>makemigrations</code> and
      <code>migrate</code> as normal.
    </p>
    <h2 id="system-fields">System fields</h2>
    <p>
      All <strong>django-thing</strong> models have some special
      &quot;system&quot; fields. These are hidden from the user on the front
      end.
    </p>
    <h3 id="elio_key"><code>elio_key</code></h3>
    <p>
      Because you might have the same Schema Types on different pages,
      <strong>django-thing</strong> uses the <code>elio_key</code> field to
      ensure that the correct instance/queryset is shown on the right pages.
      <code>elio_key</code> should therefore be unique to the context you want
      the model&#39;s data to render. <code>elio_key</code> is basically the Url
      of the <code>page</code> (from <code>SITE_THING</code>) you created it on
      + the Model name.
    </p>
    <h3 id="elio_page"><code>elio_page</code></h3>
    <p>
      Is the page it was created on. We use this for the
      <code>get_absolute_url</code> property of the model - it&#39;s the
      redirect to Url when you delete or update the instance of the model.
    </p>
    <h3 id="elio_role"><code>elio_role</code></h3>
    <p>
      The <code>elio_role</code> is either &quot;engage&quot; or
      &quot;list&quot; depending on the Model&#39;s &quot;role&quot; on a
      <code>page</code>. See the <code>SITE_THING</code> documentation in the
      <a href="/eliothing/django-thing/quickstart.html">Quickstart</a> for more
      information.
    </p>

    <footer>
      <a href="https://gitlab.com/eliothing">GitLab</a> |
      <a href="contributing.html">Contribute</a> |
      <a href="credits.html">Credits</a>
      <img src="elio-django-thing-logo.png" />
      <label>&copy; 2023 Made **the elioWay**</label>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script src="/dist/js/adons.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
